#file-explorer {
    background-color: var(--bg-grid-secondary);
    grid-row: 2/5;
    padding: 1em;
}

#root-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    color: var(--font-secondary);
}

.list-group-item {
    border: none;
    background-color: transparent;
    color: var(--font-secondary);
}

.dir-item, .file-item {
    cursor: pointer;
}

.dir-item:hover, .file-item:hover {
    color: var(--bg-item);
    font-weight: bold;
}

.selected-item {
    color: var(--bg-item);
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    #file-explorer {
        grid-column: auto;
        grid-row: 2/3;
    }
}
