#fragment-viewer {
    background-color: var(--bg-grid-tertiary);
    color: var(--font-secondary);
    min-width: 200px;
    overflow: auto;
    height: 100%;
}

.asm-header:hover {
    background-color: var(--asm-header);
}

.asm-body:hover {
    background-color: var(--asm-body);
}

.error {
    color: var(--error);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    #fragment-viewer {
        grid-column: auto;
        grid-row: 4/5;
    }
}
