#navbar-wrapper {
    grid-column: 1/4;
}

#navbar {
    background-color: var(--bg-grid-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3em;
    padding-right: 3em;
}

#menu {
    background-color: var(--bg-grid-primary);
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 6em;
}

.menu-item {
    color: var(--font-primary);
    padding: 0.5em;
    margin: 0.3em;
    border-radius: 1em;
}

.menu-item:hover {
    background-color: var(--bg-item);
    font-weight: bold;
}

#theme-selector {
    display: flex;
    color: var(--font-primary);
    align-items: center;
    justify-content: center;
}

#theme-icon:hover {
    cursor: pointer;
}

#burger {
    color: var(--font-primary);
    display: none;
}

#logout-btn:hover {
    background-color: var(--error)
}

@media only screen and (max-width: 600px) {
    #navbar-wrapper {
        grid-column: auto;
        grid-row: 1/2;
        min-height: 3em;
    }

    #navbar {
        align-items: center;
        min-height: 3em;
    }

    #menu {
        display: none;
    }

    #menu.show {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    #burger {
        display: block;
        cursor: pointer;
    }
}
