#program-viewer {
    background-color: var(--bg-grid-tertiary);
    color: var(--font-secondary);
    min-width: 400px;
    overflow: auto;
    height: 100%;
    padding: 1em;
    border-right: 1px solid var(--bg-app);
}

.error-line {
    background-color: var(--error);
    font-weight: bold;
    border-radius: 0.5em;
}

@media only screen and (max-width: 600px) {
    #program-viewer {
        grid-column: auto;
        grid-row: 3/4;
    }
}
