{% for node in file_tree %}
    <ul class="list-group {% if not node.isRoot %}collapse{% endif %}">
        <li class="list-group-item">
            <span class="toggle-collapse dir-item" data-id="{{ node.id }}">
                <i class="far fa-folder"></i>{{ node.name }}
            </span>
            {% if node.children %}
                {% include "sdcc_compiler/file_tree.html" with file_tree=node.children %}
            {% endif %}
            {% for file in node.files %}
                <ul class="list-group collapse">
                    <li class="list-group-item">
                        <span class="file-item" data-id="{{ file.id }}">
                            <i class="far fa-file"></i>{{ file.name }}
                        </span>
                    </li>
                </ul>
            {% endfor %}
        </li>
    </ul>
{% endfor %}