<div id="navbar">
    <div id="burger">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div id="menu">
        <div class="dropdown">
            <button class="btn dropdown-toggle menu-item" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Add
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" id="add-file-modal-trigger" href="#" data-bs-toggle="modal"
                       data-bs-target="#addFileModal">File</a>
                </li>
                <li><a class="dropdown-item" id="add-dir-modal-trigger" href="#" data-bs-toggle="modal"
                       data-bs-target="#addDirModal">Directory</a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn dropdown-toggle menu-item" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Sections
            </button>
            <ul class="dropdown-menu">
                <li>
                    <button type="button" class="btn dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasSections"
                            aria-controls="offcanvasSections">View list
                    </button>
                </li>
                <li><a class="dropdown-item" id="add-section-modal-trigger" href="#" data-bs-toggle="modal"
                       data-bs-target="#addSectionModal">Add</a>
                </li>
                <li>
                    <button id="toggle-all-sections-btn" type="button" class="btn dropdown-item">Hide</button>
                </li>
            </ul>
        </div>
        <button type="button" id="delete-modal-trigger" class="btn menu-item" data-bs-toggle="modal"
                data-bs-target="#deleteModal">Delete
        </button>
        <button type="submit" form="compilation-form" class="btn menu-item">Compile</button>
        <a id="download-btn" href="{% url 'download_asm' %}" class="menu-item">Download</a>
        <a id="logout-btn" href="{% url 'logout' %}" class="menu-item">Log out</a>
    </div>
    <div id="theme-selector">
        <i class="fa-regular fa-sun" id="theme-icon"></i>
        <span>Theme</span>
    </div>
</div>

{% include "sdcc_compiler/add_dir_modal.html" %}

{% include "sdcc_compiler/add_file_modal.html" %}

{% include "sdcc_compiler/add_section_modal.html" %}

{% include "sdcc_compiler/delete_modal.html" %}

{% include "sdcc_compiler/sections_offcanvas.html" %}

{% include "sdcc_compiler/toast.html" %}