<div id="navbar">
    <div id="burger">
        <a href="#mobile-menu"><i class="fa-solid fa-bars"></i></a>
    </div>
    <div id="menu">
        <div class="dropdown">
            <button class="btn dropdown-toggle menu-item" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Add
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" id="add-file-modal-trigger" href="#" data-bs-toggle="modal"
                       data-bs-target="#addFileModal">File</a>
                </li>
                <li><a class="dropdown-item" id="add-dir-modal-trigger" href="#" data-bs-toggle="modal"
                       data-bs-target="#addDirModal">Directory</a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn menu-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSections"
                aria-controls="offcanvasSections">Sections
        </button>
        <button type="button" id="delete-modal-trigger" class="btn menu-item" data-bs-toggle="modal"
                data-bs-target="#deleteModal">Delete
        </button>
        <button type="submit" form="compilation-form" class="btn menu-item">Compile</button>
    </div>
    <div id="theme-selector">
        <i class="fa-regular fa-sun" id="theme-icon"></i>
        <span>Theme</span>
    </div>
</div>

{% include "sdcc_compiler/add_dir_modal.html" %}

{% include "sdcc_compiler/add_file_modal.html" %}

{% include "sdcc_compiler/delete_modal.html" %}

{% include "sdcc_compiler/sections_offcanvas.html" %}

<div id="mobile-menu">
    <div class="menu-item">File</div>
    <div class="menu-item">Edit</div>
    <div class="menu-item">Options</div>
</div>